html {
  background: #f9f0e8;
  color: #001f39;
  font-family: Helvetica Neue;
}

.projects {
  border-radius: 2px;
  background: #f8f8f8;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);

  padding: 3rem;
  width: 45vw;
  margin: auto;
  margin-top: 3rem;
}

.projects > .header {
  border-radius: 1px;
  background: #00345f;
  color: white;
  padding: 1rem;
  padding-left: 2rem;
}

.projects > .header > .title {
  font-size: 55px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.projects .startingDate {
  font-size: 20px;
  font-style: italic;
}

.projects .list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.project .header .title {
  font-size: 55px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.project .subheader {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.project .subheader .subtitle {
  font-style: italic;
}

.project .subheader .date {
  font-weight: 900;
}

.project .description {
  margin-bottom: 1rem;
}

.project .preview {
  width: 100%;
}

.project .preview:hover {
  cursor: pointer;
}
