html {
  background: #f9f0e8;
  color: #001f39;
  font-family: Helvetica Neue;
}

.legend {
  background: rgba(253, 253, 253, 0.95);
  width: fit-content;
  margin: 2em;
  border-radius: 3px;
  min-width: 35vw;
}

.legend .header {
  font-size: 4em;
  font-weight: 500;
  padding: 0.2em;
  background: rgba(0, 52, 95, 0.9);
  color: white;
  border-radius: 3px 3px 0 0;
}

.legend .body {
  padding: 1rem 0.5rem;
  width: 100;
}

.legend .body .subheader {
  border-radius: 2px;
  background: #dee3ec;
  padding: 0.3em;
  /* font-size: 30px; */
  font-size: 2em;
  margin-bottom: 0.4rem;
  width: fit-content;
}

.legend .body .description,
.legend .body .services {
  margin-left: 0.75rem;
}

.legend .body .description {
  font-size: 15px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.legend .services {
  display: grid;
  align-items: center;
  grid-template-columns: 0.1fr 0.4fr 1fr;
  grid-template-rows: repeat(2, 1.5fr);
  row-gap: 0.2rem;
}

.serviceName {
  font-weight: 700;
  font-size: 16px;
  padding: 0.4rem;
}

.serviceName.yellow {
  background-color: #fed20a;
}

.serviceName.orange {
  background-color: #ffb50a;
}

.serviceName.red {
  background-color: #ff6571;
  color: white;
}

.serviceDescription {
  font-weight: 500;
  margin-left: 0.5rem;
  font-size: 12px;
}
