.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mapObject {
  position: absolute;
}

.stations,
.lines,
.decorations {
  position: fixed;
}

.stations {
  z-index: 0;
}

.lines {
  z-index: -1;
}

.decorations {
  z-index: -2;
}

/* Decoration */

.fraserRiver {
  top: -160px;
  left: 680px;
}

/* Lines */

.redLine {
  left: 450px;
}

.yellowAndOrangeLines {
  top: -113px;
  left: -248px;
}

/* Stations */

.stations .label {
  color: #001f39;
  text-decoration: none;
  font-size: 25px;
}

.stations .label:hover {
  text-decoration: underline;
}

.stations .interchange.label {
  font-weight: 700;
}

#contact.station {
  left: 730px;
  top: 550px;
  transform: rotate(-45deg);
}

#contact.label {
  left: 611px;
  top: 559px;
  text-align: right;
}

#aboutMe.station {
  left: 960px;
  top: 320px;
  transform: rotate(-45deg);
}

#aboutMe.label {
  left: 830px;
  top: 311px;
  text-align: right;
}

#design.station {
  top: 120px;
  left: 1160px;
  transform: rotate(-45deg);
}

#design.label {
  top: 50px;
  left: 981px;
  text-align: right;
}

#design.label span {
  display: block;
  align-items: end;
}

#blog.station {
  left: 311px;
  top: 676px;
}

#blog.label {
  left: 301px;
  top: 640px;
  text-align: right;
}
